<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>As Angels estão de volta</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fde2e2;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #ff00a2;
            color: #FAFAFA;
            text-align: center;
            padding: 20px;
            font-size: 1.8rem;
        }

        main {
            max-width: 800px;
            margin: 20px auto;
            background-color: #FFF;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .news-title {
            font-size: 1.8rem;
            color: #121212;
            margin-bottom: 15px;
            text-align: start;
        }

        .news-date {
            color: #ff00a2;
            font-size: 1rem;
            text-align: center;
            margin-bottom: 20px;
        }

        .news-image {
            width: 100%;
            height: auto;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .news-content {
            font-size: 1rem;
            line-height: 1.6;
            text-align: justify;
        }

        footer {
            text-align: center;
            color: #ff00a2;
            font-size: 0.9rem;
            padding: 10px 0;
            margin-top: 20px;
        }

        @media (max-width: 480px) {
            main {
                width: 400px;
                padding: 15px;
            }

            .news-title {
                font-size: 1.5rem;
            }

            .news-content {
                font-size: 0.9rem;
            }
        }
    </style>
</head>

<body>
    <header>As Angels estão de volta</header>
    <main>
        <h1 class="news-title">Victoria’s Secret Fashion Show: tudo sobre o desfile que acontece neste mês</h1>
        <small>Clássico desfile da marca retorna após cinco anos e acontece em 15 de outubro, com transmissão
            online</small>
        <p class="news-date">Publicação: 02/10/2024 às 18:37</p>
        <img src="/images/noticia.webp" alt="Imagem relacionada à notícia" class="news-image">
        <p class="news-content">
            O Victoria’s Secret Fashion Show, da famosa marca americana de lingerie, acontece neste mês. O clássico
            evento retorna após cinco anos e já tem data marcada para acontecer: 15 de outubro. Além do regresso das
            clássicas modelos da marca, como Gigi Hadid e Tyra Banks, algumas atrações musicais também já foram
            confirmadas.
        </p>
        <p class="news-content">
            Uma novidade desta edição é que o evento será transmitido ao vivo em diferentes plataformas como TikTok,
            Instagram e YouTube, às 20h no horário de Brasília. O desfile ocorrerá em Nova York, nos Estados Unidos e
            nesta terça-feira (2), a VS divulgou um vídeo onde conta a notícia para as modelos veteranas.
        </p>
        <p class="news-content">
            Para acompanhar o icônico desfile de moda, a Victoria’s Secret anunciou a presença de três atrações
            musicais, até o momento. A cantora Cher, 78, foi a 1ª a ser anunciada para participar. “É um mundo de
            mulheres, então é compreensível que você não possa ter um desfile de moda sem a própria mãe da moda —
            Cher!”, citou uma publicação do perfil.
        </p>
        <p class="news-content">
            A Associação vem conscientizando a sociedade de forma ativa sobre os sete pilares do Autocuidado: uso
            racional de produtos e serviços de saúde; conhecimento seguro de informações em saúde (ou
            literacia/letramento em saúde); bem-estar mental e autoconhecimento; prática de atividades físicas;
            alimentação saudável; consciência de atitudes de risco (como tabagismo e álcool em excesso) e boa higiene
            pessoal e do ambiente.
        </p>

        <p class="news-content">
            Na sequência, a marca anunciou as cantoras Lisa, do grupo Blackpink, e Tyla. Essa será a primeira vez que a
            empresa realiza uma apresentação desde 2018.
        </p>
        <p class="news-content">
            Na ocasião, a marca enfrentava queda da audiência e inúmeras controvérsias — desde comentários de um
            ex-executivo sobre modelos trans, críticas crescentes à visão estreita da marca sobre apelo sexual, até um
            documentário detalhando ligações históricas da empresa com Jeffrey Epstein, acusado de tráfico sexual de
            menores.
        </p>
        <p class="news-content">
            Em setembro de 2023, a marca divulgou um documentário na Prime Video chamado “The Tour ’23”. O longa
            destacou quatro coleções de designers-artistas independentes baseados em Lagos, Bogotá, Londres e Tóquio.
            Estrelas clássicas da Victoria’s Secret, como Naomi Campbell e Adriana Lima, desfilaram ao lado de um elenco
            diversificado de modelos, incluindo Adut Akech, Winnie Harlow, Quannah Chasinghorse, Paloma Elsesser, Hailey
            Bieber e Lila Moss.
        </p>
        <p class="news-content">
            Nomes como Gisele Bündchen, Candice Swanepoel, Adriana Lima, Alessandra Ambrósio, Elsa Hosk, Behati
            Prinsloo, Naomi Campbell, Heidi Klum, Izabel Goulart e Lily Aldridge marcaram os desfiles da marca de
            lingerie.
        </p>
    </main>
    <footer>© 2024 Notícias sobre Moda</footer>
</body>

</html>